<article class="col sm12 l3">
  <div class="card">
    <div class="card-image">
      <img src="https://avatars2.githubusercontent.com/u/19521709?s=400&v=4" />
      <span class="card-title">Diego Sarzi</span>
    </div>
    <div class="card-action">
      <a href="https://gitlab.com/diegosarzi" target="_blank">gitlab</a>
    </div>
  </div>
</article>
